#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* font-family: 'ABeeZee'; */

  /* text-align: center; */
  /* align-items: center; */
}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


.container {
  background-color: rgb(151, 151, 151);
  width: 320px;
  height: 1934px;
  /* padding: 20px; */
  padding-left: 20px;
  padding-right: 20px;
  /* padding-bottom: 20px; */
  /* justify-content: center;
  text-align: center  ; */
  /* display: flex;
  justify-content: center;
  flex-wrap: nowrap; */
  direction: rtl;

}


#sistem_bar {
  background-color: #888;
  width: 318px;
  height: 24px;
  font-size: 20px;
  text-align: center;
}

#app_bar {
  width: 318px;
  height: 80px;
  /* background-color: aquamarine; */
  background-color: #C4E1E7;
  /* display: flex; */
  /* flex-direction: row  ; */
  /* justify-content: space-between; */
  /* align-items: center;
  text-align: center; */

}

/* #row_right {
  float: right;
  margin-top: 25px;
  margin-right: 15px;
}

#row_left {
  float: left;
  margin-top: 10px;
  margin-left: 15px;

} */

#row_top {
  display: flex;
  /* justify-content: space-around; */
  height: 30px;
}
#row_top ul{
  display: flex;
  justify-content: space-between;
  /* height: 30px; */
  width: 260px;
  margin-top: 25px;

}
li{
  list-style: none;
}

#row_top h4 {
  color: red;
  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
}

#Offer_card {
  /* background-color: #961212; */
  background-color: #C4E1E7;
  width: 318px;
  height: 192px;
  border-radius: 10px;
  margin-top: 40px;
  color: rgb(81, 81, 81);
  direction: rtl;
  box-sizing: border-box;
  padding: 25px;
}

#BtnDiscount {
  margin-top: 25px;
  margin-right: 160px;
}

#row_pic {
  /* text-align: left; */
  width: 328px;
  width: 460px;
  /* background-color: blanchedalmond; */
  background-color: #C4E1E7;
  display: flex;
  flex-direction: row;
}

#row_pic-33 {
  background-color: aliceblue;
  width: 245px;
  height: 237px;
  margin-left: 10px;
  padding: 10px;
  box-sizing: border-box;

}
#row_pic-331 {
  overflow-x: scroll;
}
#row_pic-332 {
  overflow-x:auto ;
}
#row_pic-333{
  overflow-x: hidden;
}


#catagories {
  width: 328px;
  height: 126px;
  /* background-color: brown; */
  background-color: #C4E1E7;

  display: flex;
  flex-wrap: wrap;

}

#catagories img {
  width: 96px;
  height: 96px;
  border-radius: 5px;
}

#catagoti-30 {
  padding: 6px;
}

#catagoti-30 p {
  line-height: 0;
}

#pic-100 {
  /* background-color: aliceblue; */
  background-color: #C4E1E7;
  height: 283px;
  width: 328px;
  margin-top: 15px;
}




h4 {
  line-height: 0.1;
  font-weight: 300;

}

h3 {
  line-height: 0.1;
  font-weight: 360;
}