
.containerOrders {
    background-color: #bddaf17f;
    direction: rtl;
    /* padding: 15px; */
    /* box-sizing: border-box; */
    width: 360px;
    /* height: 880px; */
    /* display: flex; */
    /* justify-content: center/; */
    padding: 0px 20px 0px 20px;

    }

#hederOrders{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    width: 340px;
}
#ordersProduts{
    /* background-color: bisque; */

}
#TotalPrice{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

}
#ordersSection{
    margin-top: 90px;

}



#hederPrice{
    background-color: blue;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
#totalSection{
    /* display: flex;
    justify-content: space-between; */
    width: 360px;
    height: 131px;
    box-sizing: border-box;
    background-color: #bddaf1cd;
    padding-left: 19px;
    padding-right: 19px;
    margin-bottom: 170px;
    border-radius: 10px;
    
}
h4 {
    position: relative;
    line-height: 0px;
    
  }


#totalSection_t{
    display: flex;
    justify-content: space-between;
}
#footer_orders{
    /* position: absolute; */
    margin-top: 170px;
    margin-right: 24px;
    /* background-color: blue; */
}


.add-btn1 {
    background-color: #c2dcf0;
    border: none;
    color: black;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add box shadow */
    width: 270px;
    margin-top: 30px;
    margin-right: 29px;
  }
  
  .checkout-btn1:before {
    /* content: "\f07a"; */ /* Unicode for the shopping cart icon */
    font-family: "Font Awesome 5 Free"; /* Use the Font Awesome font */
    font-weight: 900; /* Use the solid style */
    margin-right: 8px; /* Add some spacing between the icon and text */
  }
  
  .add-btn1:hover {
    background-color: #c2dcf0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
  }